body {
  background: url(images/90630.jpg);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  position: relative;
  color: white;
}

.container {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  min-height: 500px;
  padding: 20px;
}

.content {
  position: relative;
}

.intro {
  transform: translate(0, 50%);
  text-align: center;
  margin-right: 10px;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

.lead-para {
  font-size: 1.2em;
  text-align: center;
}

.button {
  text-align: center;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  color: #659dbd;
  font-weight: 900;
  cursor: pointer;
  border-radius: 15px;
}

ul li {
  margin-left: -50px;
}

.quiz-container {
  position: absolute;
  width: 80%;
  top: 20%;
  /* transform: translate(0, 50%); */
  margin: 0 auto;
}

.labels {
  font-size: 1.7em;
  font-weight: 700;
}

ul li {
  font-size: 1.2em;
  line-height: 1.5em;
}

.footer {
  text-align: center;
  transform: translate(0, 50%);
  position: relative;
}

.footer #score {
  font-weight: 600;
  font-size: 1.5em;
}

@media only screen and (max-width: 550px) {
  .container {
    width: 80%;
  }

  .content {
    position: static;
  }

  .intro {
    position: absolute;
    top: -20%;
  }
}
